{% extends 'layout/home.html' %}

{% block content %}
    <br>
    <div class="row display-poster">
        <div class="col-lg-2">
            <div class="image-container">
                <img src="{{ character.picture }}">
            </div>
        </div>
        <div class="col-lg-5 cn">
            <div class="inner">
                <h2>{{ character.fullname }}</h2>
            </div>
        </div>
    </div>

    <br>

    <h3><i class="fa fa-sm fa-comments"></i> All the appearances of {{ character.fullname }}</h3>

    <hr>
    <div class="row display-poster">
    {% for item in items %}
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="image-container">
                <a href="{{ url_for('%s.show' % item.type, identifiant=item.id) }}">
                    <img src="{{ item.picture }}">
                </a>
            </div>
            <p><a href="{{ url_for('%s.show' % item.type, identifiant=item.id) }}">{{ item.name }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}