{% extends "layout/home.html" %}

{% block header_content %}

    <br>

{% endblock %}

{% block content %}
    <div class="row display-poster">
        <div class="col-lg-2">
            <div class="image-container">
                <img src="{{ item.picture }}">
                <div class="centered">{{ item.moyenne | round(1) }}</div>
            </div>
        </div>
        <div class="col-lg-5 cn">
            <div class="inner">
                <h2>{{ item.name }} ({{ item.release_year }})</h2>
                {% if session['id'] %}
                    <span class="rating"></span>
                    <div class="button-set">
                        <a href="{{ url_for('movie.wishlist', id=item.id) }}" class="btn btn-outline-secondary {{ 'text-success' if wishlist}}" title="add to interest"><i
                                class="fas fa-bookmark"></i> Wishlist</a>
                        <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#review"
                           title="comment"><i class="fas fa-comments"></i> Review</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <hr>
    <div class="row">
        {% if item.description %}
            <div class="col-lg-12">
                <dl>
                    <dt>Synopsis</dt>
                    <dd>{{ item.description }}</dd>
                </dl>
            </div>
        {% endif %}
        {% if item.release_year %}
            <div class="col-lg-6">
                <dl>
                    <dt>Release</dt>
                    <dd>{{ item.release_year }}</dd>
                </dl>
            </div>
        {% endif %}
        {% if item.duration %}
            <div class="col-lg-6">
                <dl>
                    <dt>Duration</dt>
                    <dd>
                        {{ (item.duration) | string + 'm' }}
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if item.awards %}
            <div class="col-lg-6">
                <dl>
                    <dt>Awards</dt>
                    <dd>
                        {{ item.awards }}
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if item.production %}
            <div class="col-lg-6">
                <dl>
                    <dt>Production</dt>
                    <dd>
                        {{ item.production }}
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if item.box_office %}
            <div class="col-lg-6">
                <dl>
                    <dt>Box office</dt>
                    <dd>
                        {{ '{:,}'.format(item.box_office).replace(',', ' ') }}$
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if item.website %}
            <div class="col-lg-6">
                <dl>
                    <dt>Website</dt>
                    <dd>
                        <a href="{{ item.website }}">{{ item.website }}</a>
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if item.rated %}
            <div class="col-lg-6">
                <dl>
                    <dt>Rated</dt>
                    <dd>
                        {{ item.rated }}
                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if countries %}
            <div class="col-lg-6">
                <dl>
                    <dt>Country</dt>
                    <dd>
                        {% for country in countries %}
                            <a href="">{{ country.name }}</a>
                        {% endfor %}

                    </dd>
                </dl>
            </div>
        {% endif %}
        {% if genres %}
            <div class="col-lg-6">
                <dl>
                    <dt>Genre</dt>
                    <dd>
                        {% for genre in genres %}
                            <a href="">{{ genre.name }}</a>
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        {% endif %}
    </div>
    {% if casting %}
        <h3><i class="fa fa-sm fa-users"></i> Casting</h3>
        <hr>
        <div class="row display-poster">
            {% for character in casting %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="image-container">
                        <img class="portrait"
                             src="{{ character.picture }}">
                        <div class="bottomed poste">{{ character.role }}</div>
                    </div>
                    <p>{{ character.fullname }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if reviews %}
        <h3><i class="fas fa-comments"></i> Review</h3>
        <hr>
        {% for review in reviews %}
            {% if review.comment %}
                <dl>
                    <dt>{{ review.username }}</dt>
                    <dd>
                        {{ review.comment }}
                    </dd>
                </dl>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="modal fade" id="review" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="/movie/{{ item.id }}/comment" class="modal-content" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Review:</label>
                        <textarea class="form-control" rows="3" name="review">{% if user_review.comment %}{{ user_review.comment }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Valider">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js_local %}

    <script>
        $(".rating").starRating({
            initialRating: {{ user_review.rate if user_review.rate else 0 }},
            totalStars: {{ 5*2 }},
            disableAfterRate: false,
            starSize: 30,
            useFullStars: true,
            callback: (currentRating, $el) => {
                $.post("/movie/{{ item.id }}/review", {
                    rate: currentRating
                }, (data, status) => {
                    console.log(data);
                    if (data === true) {
                        toastr['success']('Your rate have been saved');
                    } else {
                        toastr['error']('The database is unavailable');
                    }
                });
            }
        });
    </script>

{% endblock %}

