.form-signin {
    width: 100%;
    height: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto auto;
}

.input-divider {
    margin-bottom: 5px;
}

.nav-search {
    width: 500px !important;
    text-align: center;
}

/*.navbar-dark .btn-secondary{}*/

.navbar {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
}

.display-poster img {
    width: 100%;
    height: 200px;
}

.display-poster p {
    text-align: center;
    font-weight: bold;
}

.display-poster p a {
    color: black;
    text-decoration: none;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomed {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.cn {
    position: relative;
}

.inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.poste {
    font-size: 20px;
}

.portrait {
    height: 100%;
}

img {
    object-fit: cover;
}

.description {
    font-weight: normal !important;
    text-align: left !important;
}

.search {
    display: none;
    height: auto;
    position: absolute;
}

.search-item {
    position: relative;
    height: 150px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.62);
    border-radius: 2px;
    z-index: 100 !important;
}

.search-item img {
    height: 150px !important;
}

.search-item p {
    line-height: 150px;
    font-size: 18px;
    color: black;
}

.search-item a {
    text-decoration: none;
}

.username {
    font-size: 40px;
    font-weight: bold;
}

.fullname {
    font-size: 25px;
    margin-top: -25px;
}

.comment {
    font-weight: normal !important;
    text-align: left !important;
    color: dimgrey;
}

.search-picture {
    width: 100px !important;
}

.show-picture {
    width: 150px !important;
    height: auto !important;
}

.margin-top{
    margin-top: 60px;
}

.margin-bottom{
    margin-bottom: 60px;
}

.home-picture {
    max-width: 140% !important;
    height: 130px !important;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.75);
}

.section {
    height: 300px;
    margin-bottom: 20px;
}

.section-connection{
    background-color: #1f2022;
    color: white;
    text-align: center;
    position: relative;

}

.section-connection p{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-connection p .title{
    font-size: 30px;
    /*font-weight: bold;*/
}

.icon {
    color: lawngreen;
    margin-bottom: 10px;
}