{% extends 'layout/home.html' %}

{% block content %}

    <br>
    <p class="username">{{ user.username | title }}</p>
    <p class="fullname">{{ user.first_name | title }} {{ user.last_name | title }}</p>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for("signup.profil", id=id) }}">Rates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("signup.comment", id=id) }}">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("signup.wishlist", id=id) }}">Wishlist</a>
        </li>
    </ul>

    <br>
    {% for rate in rates %}
        <div class="row display-poster">
            <div class="col-lg-2 col-md-2">
                <div class="image-container">
                    <img src="{{ rate.picture }}">
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="inner">
                    <h2>{{ rate.name }} ({{ rate.release_year }})</h2>
                    <span class="rating" id="rate_{{ loop.index }}"></span>
                    {% if 'id' in session and id == session['id'] %}
                        <div>
                            <a href="{{ url_for('%s.delete_rate' % rate.type, id=rate.id) }}" class="btn btn-danger delete"><i class="fa fa-times"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div><hr>
    {% endfor %}

{% endblock %}


{% block js_local %}
    <script>
        {% for rate in rates %}
            $("#rate_{{ loop.index }}").starRating({
                    initialRating: {{ rate.rate }},
                    totalStars: {{ 5*2 }},
                    disableAfterRate: false,
                    readOnly: {{ 'false' if own else 'true' }},
                    starSize: 30,
                    useFullStars: true,
                    callback: (currentRating, $el) => {
                        $.post("/{{ rate.type }}/{{ rate.id }}/review", {
                            rate: currentRating
                        }, (data, status) => {
                            if (data === true) {
                                toastr['success']('Your rate have been saved');
                            } else {
                                toastr['error']('The database is unavailable');
                            }
                        });
                    }
                });
        {% endfor %}
    </script>
{% endblock %}