{% extends 'layout/home.html' %}

{% block content %}

    <br>
    <p class="username">{{ user.username | title }}</p>
    <p class="fullname">{{ user.first_name | title }} {{ user.last_name | title }}</p>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("signup.profil", id=id) }}">My rates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("signup.comment", id=id) }}">My comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for("signup.wishlist", id=id) }}">My wishlist</a>
        </li>
    </ul>

    <br>
    {% for rate in rates %}
        <div class="row display-poster">
            <div class="col-lg-2 col-md-2">
                <div class="image-container">
                    <img src="{{ rate.picture }}">
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="inner">
                    <h2>{{ rate.name }} ({{ rate.release_year }})</h2>
                    {% if 'id' in session and id == session['id'] %}
                        <a href="{{ url_for('%s.wishlist' % rate.type, id=rate.id) }}" class="btn btn-outline-secondary text-success" title="add to interest"><i
                            class="fas fa-bookmark"></i> Wishlist</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}