{% extends "layout/home.html" %}

{% block content %}
    <form class="form-signin" method="post" action="{{ url_for('signup.register') }}">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username"
                   value="{{ request.form.get('username') or '' }}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="First name" name="first_name"
                       value="{{ request.form.get('first_name') or '' }}">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Last name" name="last_name"
                       value="{{ request.form.get('last_name') or '' }}">
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email"
                   value="{{ request.form.get('email') or '' }}"
                   pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" min="6" name="password"
                   value="{{ request.form.get('password') or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}